// @font-face {
//    font-family: "Ogg Roman";
//    src: url("../public/fonts/Ogg_Roman.woff") format("woff");
// }

// @font-face {
//    font-family: "Ogg Italic";
//    src: url("../public/fonts/Ogg_Italic.woff") format("woff");
// }

@font-face {
   font-family: "Ogg Roman";
   src: url("../public/fonts/Ogg Roman.woff") format("woff");
}

@font-face {
   font-family: "Ogg Italic";
   src: url("../public/fonts/Ogg Italic.woff") format("woff");
}