@font-face {
   font-family: "NeueBit Bold";
   src: url("../public/fonts/Inconsolata-Regular.woff2") format("woff2");
}

@font-face {
   font-family: "Ogg Italic";
   src: url("../public/fonts/Ogg Italic.woff") format("woff");
}