@import '../static/scss/utils/_font';
@import '../static/scss/utils/_var';

*,
*::before,
*::after {
    user-select: none;
    box-sizing: border-box;
    // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.hud {
    display: flex;
    justify-content: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    &__menu {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 3;
        
        button {
            cursor: pointer;

            div {
                width: 10px;
                height: 10px;
                background-color: #fff;
            }
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 100px;
        z-index: 2;
    }

    &__background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000000, .5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        pointer-events: none;
    }
}

// button {
//     width: auto;
//     height: 50px;
// }

canvas {
    user-select: none;
    // pointer-events: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // z-index: -1;
    // position: fixed;
}