@import './scss/utils/_font';
@import './scss/utils/_var';
@import './scss/utils/_breakpoints';

*,
*::before,
*::after {
    user-select: none;
    box-sizing: border-box;
    font-family: 'Ogg Roman';
    // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    font-size: 16px;
}

.hide {
    display: none !important;
}

.fadeOpacity {
    transition: opacity .3s ease-out;
}

.fadeIn {
    opacity: 1 !important;
    transition: opacity .3s ease-out;
    pointer-events: all !important;
}

.hud-top {
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 5%;

    width: 90vw;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
        position: relative;
        width: auto;
        height: auto;
        
        z-index: 3;

        .music-infos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            span {
                color: #fff;
                font-size: 1rem;
                line-height: .85rem;
                
                &:nth-child(2) {
                    font-size: .9rem;
                    font-style: italic;
                    opacity: .75;
                    font-family: 'Ogg Italic';
                }
            }
        }
    }
    
    &-right {
        position: relative;
        width: 2rem;
        height: 2rem;

        button {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
            cursor: pointer;
            background: none;
            transform: rotateZ(45deg);
            
            &.menuOpen {
                animation: rotateOpenMenuButton 1s ease-in-out forwards;
            }
            
            &.menuClose {
                animation: rotateCloseMenuButton .5s ease-out forwards;
            }

            @keyframes rotateOpenMenuButton {
                from {
                    transform: rotateZ(0deg);
                }
                to {
                    transform: rotateZ(-135deg);
                }
            }
            
            @keyframes rotateCloseMenuButton {
                from {
                    transform: rotateZ(45deg);
                }
                to {
                    transform: rotateZ(0deg);
                }
            }

            div {
                top: 45%;
                right: 45%;
                transform: translate(-45%, -45%);
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #fff;                    
                &:nth-child(2) {
                    transform: translate(-45%, -45%) rotateZ(90deg);
                }
            }
        }
    }
}

.hud {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__container {
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        // padding: 2.5rem;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .center {
        position: relative;
        width: 70%;
        min-width: 1200px;
        height: 100%;
        
        margin: auto;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        html.mobile & {
            top: 5%;
            height: 90%;
            min-width: 0;
            width: 95%;
            margin: auto;
        }
        
        &-left, &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            height: 45%;
            min-height: 500px;
            width: 45%;
            
            html.mobile & {
                height: 90%;
                // min-height: 500px;
                width: 90%;
            }
            
            input {
                display: none;
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                
                width: 100%;
                height: auto;
            }
            
            button {
                cursor: pointer;
                background: none;
                border: 1px solid #fff;
                border-radius: 3px;
                width: 30%;
                
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem 2rem;

                    span {
                        color: #fff;
                    }
                }

                &.keyboard-layout {
                    opacity: .5;
                    transition: opacity .3s ease-out;
                    
                    &:hover {
                        opacity: 1;
                        transition: opacity .3s ease-out;
                    }
                    
                    &.active {
                        opacity: 1;
                        transition: opacity .3s ease-out;
                    }
                }

                &.svg-icon {
                    opacity: .75;
                    transition: opacity .3s ease-out;
                    
                    &:hover {
                        opacity: 1;
                        transition: opacity .3s ease-out;
                    }

                    svg {
                        height: 25px;
                        fill: #fff;
                    }
                }
            }

        }
        
        &-left {
            html.mobile & {
                width: 100%;
            }
            .text {
                text-align: justify;
                color: #fff;

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                    
                    span {
                        font-size: 1rem;
                    }
                }

                span {
                    font-size: .9rem;
                }

                .red {
                    color: $red;
                }

                .purple {
                    color: $purple;
                }

                .blue {
                    color: $blue;
                }

                .green {
                    color: $green;
                }
            }
        }

        .gap {
            width: 2px;
            height: 50%;
            min-height: 500px;
            background-color: #fff;
            margin: 0 2rem;

            html.mobile & {
                display: none;
            }
        }

        &-right {
            html.mobile & {
                display: none;
            }
            
            .buttons {
                justify-content: space-evenly;
            }

            .keyboard-container {
                .keyboard {
                    width: 100%;

                    &--percs {
                        fill: $purple;
                        fill-opacity: .75;
                    }

                    &--melodies {
                        fill: $blue;
                        fill-opacity: .75;
                    }

                    &--basses {
                        fill: $green;
                        fill-opacity: .75;
                    }
                    
                    &--default {
                        fill: white;
                        fill-opacity: .35;
                    }
                }
            }
        }
    }

    &__background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000000, .5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }
}

canvas {
    user-select: none;
    // pointer-events: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // z-index: -1;
    // position: fixed;
}