@import '../static/scss/utils/_font';
@import '../static/scss/utils/_var';

*,
*::before,
*::after {
    user-select: none;
    box-sizing: border-box;
    // cursor: none; // si cursor custom
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #000000;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    font-size: 16px;
}

.hud-top {
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 5%;

    width: 90vw;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
        position: relative;
        width: auto;
        height: auto;
        
        z-index: 3;

        .music-infos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            span {
                color: #fff;
                font-size: 1rem;
                line-height: .75rem;
                
                &:nth-child(2) {
                    font-size: .9rem;
                    font-style: italic;
                    opacity: .75;
                }
            }
        }
    }
    
    &-right {
        position: relative;
        width: 2rem;
        height: 2rem;

        button {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
            cursor: pointer;
            background: none;
            transform: rotateZ(45deg);

            div {
                top: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                // transform: rotateZ(45deg);
                width: 2px;
                height: 100%;
                background-color: #fff;                    
                &:nth-child(2) {
                    width: 2px;
                    transform: translate(-50%, -50%) rotateZ(90deg);
                }
            }
        }
    }
}

.hud {
    display: flex;
    justify-content: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__container {
        width: 100%;
        height: 100%;
        // padding: 2.5rem;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .center {
        width: 90%;
        min-width: 1200px;
        height: 40%;
        min-height: 350px;

        margin: auto;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        
        &-left, &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            width: 45%;
            
            input {
                display: none;
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
    
                width: 100%;
                height: auto;
            }

            button {
                cursor: pointer;
                background: none;
                border: 1px solid #fff;
                border-radius: 3px;
                width: 30%;
                
                div {
                    padding: .5rem 2rem;

                    span {
                        color: #fff;
                    }
                }
            }
        }
        
        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .text {
                text-align: justify;
                color: #fff;

                p {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                    
                    span {
                        font-size: 1.2rem;
                    }
                }

                span {
                    font-size: .9rem;
                }

                .red {
                    color: $red;
                }

                .purple {
                    color: $purple;
                }

                .blue {
                    color: $blue;
                }

                .green {
                    color: $green;
                }
            }
        }

        .gap {
            width: 2px;
            height: 100%;
            background-color: #fff;
            margin: 0 2rem;
        }

        &-right {
            .buttons {
                justify-content: space-evenly;
            }

            .keyboard-container {
                .keyboard {
                    width: 100%;

                    &--letters {
                        // cursor: pointer;
                    }
                }
            }
        }
    }

    &__background {
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000000, .5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
    }
}

canvas {
    user-select: none;
    // pointer-events: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // z-index: -1;
    // position: fixed;
}